* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.flex {
  display: flex
}

.logo {
  width: 15%;
  padding: 10px;
}

.business .logo {
  width: 5%;
}

/* Nav Menu */
.nav {
  width: 75%;
  padding: 11px 0;
}
.business .nav {
  width: 90%;
}

/* Un-Order List Styles*/
ul {
  list-style-type: none;
}

/* Navigation Styles */
.nav-links li{
  padding: 18px;
  margin-right: 5px;
}

/* Sigin in Button */
.btnSignIn {
  width: 5%;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}