@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.flex {
  display: flex
}

.logo {
  width: 15%;
  padding: 10px;
}

.business .logo {
  width: 5%;
}

/* Nav Menu */
.nav {
  width: 75%;
  padding: 11px 0;
}
.business .nav {
  width: 90%;
}

/* Un-Order List Styles*/
ul {
  list-style-type: none;
}

/* Navigation Styles */
.nav-links li{
  padding: 18px;
  margin-right: 5px;
}

/* Sigin in Button */
.btnSignIn {
  width: 5%;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}


.banner {
  background-image: url("./images/1697527211984.avif");
  background-size: 40% 80%;
  background-repeat: no-repeat;
  background-position: right;
  height: 400px;
}